.navigation {
    transition: .3s ease;
    border-bottom: 1px solid transparent;
}

.navbar-brand .logo {
    color: #fff;
}

.navbar-nav .nav-link {
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: .5px;
    color: #fff;
    padding: 10px 15px !important;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.nav-social a {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding-top: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    text-decoration: none;
}
.navbar-toggle .icon-bar {
    background: #e1a34c;
}
.nav__close{

}

@media screen and (max-width:786px) {
    /* .nav__full{
        display: block;
    } */
    .nav__mobile{
        width: 50px;
        height: 100px;
        background: #e1a34c;
        color: black;
        align-self: flex-start;
        margin-left: 0;
        padding-left: 0;
    }
}



