.section {
    padding: 100px 0;
  }
  
  .section-title {
    margin-bottom: 70px;
  }
  
  .section-title span {
    letter-spacing: 4px;
  }
  
  .section-title .title {
    text-transform: capitalize;
  }

  .text-color {
    color: #e1a34c;
  }
  .letter-spacing {
    letter-spacing: 1px;
  }
  .text-sm {
    font-size: 14px;
  }

  .testimonial-slider .testimonial-content {
    padding-left: 140px;
    padding-top: 20px;
  }
  
  .testimonial-slider .testimonial-item i {
    position: absolute;
    left: 0px;
    content: "";
    top: 0px;
    font-size: 110px;
  }
  
  .testimonial-slider .testimonial-item p {
    line-height: 45px;
    color: rgba(255, 255, 255, 0.85);
  }
  
  .testimonial-slider .testimonial-item .media img {
    border: 5px solid rgba(255, 255, 255, 0.2);
    width: 90px;
  }
  .text-md {
    font-size: 22px;
  }






