
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");

body {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: #131f33;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
}

p {
  color: #8b98af;
}

body, html {
  overflow-x: hidden;
  width: 100%;
}

.portfolio {
  background: #131f33;
  color: #fff;
}

.text-white{
  color: #fff;
}
.App {
  text-align: center;
}


@media screen and (max-width:786px) {
  .navbar-toggler {
    background: #fff !important;
  }
  .navigation {
    background: #131f33 !important;
  }
  .text-lg {
    font-size: 68px;
    line-height: 70px;
  }
  .py-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}






/* background: white;
    position: fixed;
    border-radius: 90px;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    margin: auto;
    text-align: center; */



